# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Игнорируем все .json файлы, кроме тех, что в game_assets
*.json
!game_assets/*.json
!settings.json
!settings_default.json
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs
.idea/
.vscode/

# Local development
.env
*.db
*.sqlite3
*.backup

# Logs
*.log

# Docker
Dockerfile
.dockerignore
